<div id="masthead">

  <a href="{{ site.baseurl }}">
    <img id="jerry-illustration" src="{{ site.baseurl }}assets/img/jerry.png" alt="Jerry King's Illustration" />
  </a>

  <h1 class="sitetitle">
    <a href="{{ site.baseurl }}" class="sitetitle">{{ site.name }}</a>
  </h1>
  <p class="description"></p>

  <ul id="pagenav">
    <li><a href="{{ site.baseurl }}blog">Blog</a></li>
    <li><a href="{{ site.baseurl }}talks">Talks</a></li>
    <li><a href="{{ site.baseurl }}projects-full">Projects</a></li>
    <li><a href="{{ site.baseurl }}experiences">Experiences</a></li>
  </ul>

</div> <!--/masthead-->
